{
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "jsxSingleQuote": true,
    "overrides": [
        {
            "files": ["*.yml", "*.yaml"],
            "options": {
                "singleQuote": false,
                "tabWidth": 2
            }
        }
    ]
}
